<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <h1></h1>
    <form action="/chats" method="post">
    <input type="text" name="from" placeholder="who are you?">
    <br><br>
    <textarea name="msg">write your chat</textarea>
    <br><br>
    <input type="text" name="to" placeholder="received by">
    <br><br>
    <button>Create chat</button>
    
    </form>

    <!-- // form ko submit jb krenge to wo app.post ke through db me save hona chahiye iss liye iss form ko post pe  send krenge -->
    
</body>
</html>